<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content>
      <div style="   background-size:     cover;
    background-position: center center;  text-align:center; background-image:  linear-gradient(
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.7)
    ),url({{chat.coverimg}})">
        <br/>
        <span style="font-size:40px; text-align:center; margin-top:-400px; z-index:9999999; color:#fff;" class={{chat.clublogo}}></span>
        <h1 style="color:#fff; font-weight:300;">{{chat.name}} </h1>
                <br/>
      </div>

      <h1 class="club-story padding">เรื่องราวของชุมนุม</h1>
    <p class="padding">
      {{chat.excerpt}}

      <h1 class="club-story padding">กิจกรรม</h1>
      <p class="padding">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

  </ion-content>
</ion-view>
