<ion-view hide-nav-bar="true">
<ion-content style="background-color:#fafafa;">


  <section class="padding" style="text-align:center;">
   <img  style="width:70px; margin-top:10vh;" src="img/ig_logo.png"></img>
<h3 style="color:#02558B; font-weight:200; text-align:center;   margin-top:0;  font-family: 'Kanit', sans-serif; ">#SKNEXHIBITION</h3>    <h4 style="color:#999999; font-weight:300; text-align:center;     font-family: 'Kanit', sans-serif; ">แชร์รูปภาพของคุณกับเรา</h4>


<br/><br/>
<!-- SnapWidget -->
<script src="http://snapwidget.com/js/snapwidget.js"></script>
<iframe src="http://snapwidget.com/in/?h=c2tuZXhoaWJpdGlvbnxpbnwxMjV8M3wzfGZhZmFmYXxub3w1fG5vbmV8b25TdGFydHxub3x5ZXM=&ve=020216" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>

<!-- SnapWidget -->
<script src="http://snapwidget.com/js/snapwidget.js"></script>
<iframe src="http://snapwidget.com/in/?h=4Liq4Lin4LiZ4LiZ4LiZ4LiX4LmM4Lib4Lij4Li04LiX4Lij4Lij4Lio4LiZ4LmMfGlufDEyNXwzfDN8ZmFmYWZhfG5vfDV8bm9uZXxvblN0YXJ0fG5vfHllcw==&ve=020216" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>

 </section>


</ion-content>
</ion-view>
