<ion-view hide-nav-bar="true">
<ion-content style="overflow: scroll; background-color:#fff;">


  <section class="padding" style="position:relative; text-align:center;">
    <br/><br/>
   <span  style=" font-size:30px; color:#1690DC;" class="ion-social-twitter"></span>
   <br/>   <br/>
<h3 style="color:#1690DC; font-weight:200; text-align:center;   margin-top:0;  font-family: 'Kanit', sans-serif; ">#สวนนท์ปริทรรศน์</h3>    <h4 style="color:#999999; font-weight:300; text-align:center;     font-family: 'Kanit', sans-serif; ">บอกเล่าเรื่องราวประทับใจของคุณ</h4>

<br/><br/><br/><br/>

 </section>

<div style="text-align:center;">

  <div id='timeline'></div>

  <script>

  twttr.widgets.createTimeline(
  '694545605025107969',
  document.getElementById('timeline'),
  {
    width: '450',
    height: '700',
    related: 'twitterdev,twitterapi'
    }).then(function (el) {
    console.log("Embedded a timeline.")
  });

  </script>

</div>
</ion-content>
</ion-view>
