<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.desktop819020" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>SKN Ex</name>
  <description>
        SKN Exhibition application -  Designed by @Nutn0n
    </description>
  <author email="title409@icloud.com" href="http://www.nutn0n.com">
      Nattanon Dungsunenarn
    </author>
  <content src="index.html"/>
  <access origin="* "/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>