/* Empty. Add your own CSS if you like */

.color_facebook { background-color:#435B9F!important; }
.color_twitter { background-color: #39A9F1!important; }
.slide_to_share { margin-left: 10px;}

.clubcover { text-align:center; }
.club-story { font-weight: 200; font-size: 30px; color:#333; }

.suanon_exhibition_title {
    font-family: "Kanit", "Helvetica Neue", sans-serif;
   font-size: 38px;
    color:#333;
    font-weight: 200;
    text-align: center;
    margin-top:20vh!important;
  }
  .suanon_exhibition_subtitle {
    font-family: "Kanit", "Helvetica Neue", sans-serif;
   font-size: 18px;
    color:#333;
    font-weight: 200;
    text-align: center;

  }

  .suannon_logo { width: 50px; height: 50px; text-align: center; }

  .welcomehr{
    width: 70%;
    color: #666;
   }

  .home_topic {     font-family: "Kanit", "Helvetica Neue", sans-serif;
                              font-size: 20px;
                              font-weight: 200;
                              color:#333;
}

.topic_icon { color:#666; font-size: 18px; }

.history {      padding-left: 5vh; color:#333;    padding-right: 5vh;   padding-top: 120px; }
.history > p { color:#666; }
.timetable {      padding-left: 5vh; color:#333;   padding-right: 5vh;    margin-top: 20px; }
.table_time { font-weight: 500; }
.table_event { font-weight: 200; }

.credits {

  font-family:"Kanit",sans-serif;
  text-align: center;
  font-size:13px;
  font-weight:400;
  color:#FF9000;

}

.welcome_page {

    background-color: #fff;
    background-position: center ;
    background-size: cover;
    background-attachment: scroll!important;
    background-repeat: no-repeat;
    background-image: url(../img/wallpaper.jpg);

}

.info_box {

  -webkit-backdrop-filter:blur(1px);
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 22%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 22%,rgba(255,255,255,1) 38%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 22%,rgba(255,255,255,1) 38%,rgba(255,255,255,1) 100%);

}
