/* Empty. Add your own CSS if you like */

.color_facebook { background-color:#435B9F!important; }
.color_twitter { background-color: #39A9F1!important; }
.slide_to_share { margin-left: 10px;}

.clubcover { text-align:center; }
.club-story { font-weight: 200; font-size: 30px; color:#333; }
