/* Empty. Add your own CSS if you like */

.color_facebook { background-color:#435B9F!important; }
.color_twitter { background-color: #39A9F1!important; }
.slide_to_share { margin-left: 10px;}

.clubcover { text-align:center; }
.club-story { font-weight: 200; font-size: 30px; color:#fff; }

.suanon_exhibition_title {
    font-family: "Kanit", "Helvetica Neue", sans-serif;
   font-size: 40px;
    color:#fff;
    font-weight: 100;
    text-align: center;
    margin-top:20vh!important;
  }
  .suanon_exhibition_subtitle {
    font-family: "Kanit", "Helvetica Neue", sans-serif;
   font-size: 18px;
    color:#fff;
    font-weight: 200;
    text-align: center;

  }

  .suannon_logo { width: 50px; height: 50px; text-align: center; }

  .welcomehr{
    width: 70%;
    color: #fff;
   }

  .home_topic {     font-family: "Kanit", "Helvetica Neue", sans-serif;
                              font-size: 20px;
                              font-weight: 200;
                              color:#fff;
}

.history {      padding-left: 5vh; color:#fff;    padding-right: 5vh;   margin-top: 200px; }
.history > p { color:#fafafa; }
.timetable {      padding-left: 5vh; color:#fff;   padding-right: 5vh;    margin-top: 20px; }
.table_time { font-weight: 500; }
.table_event { font-weight: 200; }


.welcome_page {

    background-color: #2e4558;
    background-position: center ;
    background-size: cover;
    background-attachment: scroll!important;
    background-repeat: no-repeat;
    background-image: url(../img/wallpaper.jpg);

}
